@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-image: url("https://safiralydr.github.io/Safira/BG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* * {
  margin: 0;
  padding: 0;
} */
